{% extends 'main.html' %}
{% block title %}Regulamin{% endblock %}
{% block main %}
    <div class="card col s12 left-align post">
        <div class="row heading">
            <span class="title">Regulamin</span>
        </div>
        <div class="flow-text" style="padding: 5px;">
            <b>§ 1. ORGANIZATORZY</b><br/>
            Jacek Banasik <br/>
            Paweł Białoszewski <br/>
            Małgorzata Lann vel Lace <br/>
            Michał Rokita &lt;siatkowka[at]mrokita.pl&gt;<br/>
            <br/>

            <b>§ 2. SĘDZIOWIE</b><br/>
            Nie ma specjalnie wybranych sędziów, zespoły same rozstrzygają sporne sytuacje.<br/>
            <br/>
            <b>§ 3. REJESTRACJA ZESPOŁÓW</b><br/>
            Zespoły można zgłaszać przez formularz dostępny na stronie internetowej zawodów do dnia 21 marca 2017 r.<br/>
            Zgłoszenie drużyny jest jednoznaczne z przyjęciem zasad i reguł zawartych w niniejszym regulaminie.<br/>
            <br/>
            <b>§ 4. WARUNKI UDZIAŁU</b><br/>
            1. W zawodach mogą brać udział tylko uczniowie Zespołu Szkół nr 82.<br/>
            2. Obowiązują składy 3-osobowe mieszane (1M + 2K lub 2M + 1K) z dowolną liczbą zawodników rezerwowych.<br/>
            <br/>
            <b>§ 5. PRZEBIEG ZAWODÓW</b><br/>
            1. Zawody trwają cztery miesiące, podczas których odbędą się cztery turnieje, po jednym w miesiącu.<br/>
            Każdy turniej odbywa się na dwóch salach gimnastycznych w budynku szkoły. Harmonogram rozgrywek jest ustalany bezpośrednio przed turniejem w sali Liceum.<br/>
            2. Każdy mecz trwa 10 minut i jest rozgrywany na połowie boiska równolegle z innym.<br/>
            3. Za wygrany mecz otrzymuje się punkty przewagi nad drugim zespołem, za przegrany - traci.<br/>
            Przykładowo, gdy drużyna A wygra z drużyną B 21:10, drużyna A otrzymuje 11 punktów, drużyna B traci 11 punktów.<br/>
            4. Sposób rozgrywek zostanie ustalony po zakończeniu rejestracji. Jeśli zgłosi się mniej niż 8 zespołów, będziemy grać każdy z każdym, w przeciwnym wypadku systemem grupowym.<br/>
            5. Punkty w ogólnym rankingu są sumą punktów zdobytych w poszczególnych turniejach.<br/>
            6. Jeśli zespół nie stawi się na turnieju nie otrzyma żadnych punktów.<br/>
            7. Ranking ogólny oraz wyniki turniejów będą dostępne na stronie internetowej zawodów.<br/>
            <br/>
            <b>§ 6. TERMINARZ</b><br/>
            1. Rejestracja: do 21.3.2017<br/>
            2. Turniej „marcowy” - 25.3.2017<br/>
            3. Turniej „kwietniowy” - 22.4.2017<br/>
            4. Turniej „majowy” - 27.5.2017<br/>
            5. Turniej „czerwcowy” - 10.6.2017<br/>
            <br/>
            <b>§ 7. UWAGI KOŃCOWE</b><br/>
            1. Wszelkie sprawy sporne, nie objęte powyższym regulaminem rozstrzyga Organizator wraz z Sędzią<br/>
            2. W przypadku nie przestrzegania regulaminu lub przepisów gry czy niesportowego zachowania Organizator zawodów w porozumieniu z Sędzią zawodów ma prawo do weryfikacji wyniku meczu lub dyskwalifikacji zawodnika / drużyny z rozgrywek.<br/>
            3. Udział w zawodach jest równoważny z akceptacją regulaminu zawodów oraz wyrażeniem zgody na przetwarzanie swoich danych osobowych (ustawa z 29.08.1997 r o ochronie danych osobowych Dz. U. Nr 133 z 1997) przez organizatora w celach związanych z zawodami.<br/>
        </div>
    </div>
{% endblock %}